

.intro {
  font-style: oblique;
  font-family: monospace;
  text-align: center;
  color: limegreen;
}

.intro {
  width: 50%;
  font-style: italic;
  color: darkgreen;
}

.lichen {
  margin: 40px;
  width: 40%;
  height: 40%;
}
